* {
  font-family: sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
  background-color: #ebe7e7;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

img.octocat {
  height: 200px;
}

.row {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
}

.pink {
  background-color: beige;
  justify-content: space-evenly;
}

.blue {
  background-color: chartreuse;
}

p {
  text-align: center;
}
